h1 {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(116, 0, 0);
}

.container {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

h3 {
    text-align: left;
    color: white;
}

.readyDiv {
    text-align: center;
}

.readyButton {
    position: absolute;
    top: 10%;
}

.infoFont {
    color: white;
}

.message-wrap {
    background: #fce0de;
    border: 1px solid #e01507;
    padding: 10px;
    margin: 5px;
}

.diceFont {
    color: black;
    text-align: center;
}

.forHidden {
    display: none;
}

.winloseDiv {
    background: #fce0de;
    border: 1px solid #e01507;
    padding: 10px;
    margin: 5px;
}

.winloseFont {
    color: black;
    text-align: center;
}