<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/babyBluePlayer.css">
    <title>MAID - Baby Blue</title>
</head>
<body>
    <h1>You Are Baby Blue!</h1>
    <div class="readyDiv">
        <button id="readyButton" onclick="return playerReady()" class="readyButton">Ready</button>
    </div>
    <div class="container" id="containerID">
        <h3>Money</h3>
    </div>
    <script src="/static/Javascript/playerReady.js?v=1.0.0"></script>
</body>
</html>