<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/index.css?v=1.0.0">
    <title>MAID - Homepage</title>
</head>

<body>
    <div id="message">
        <h1>Welcome to MAID</h1>
        <!-- <h3>Please enter your PIN</h3> -->

        <!-- <form name="pinForm" class="pinSubmit" method="POST">
            <label for="pin">PIN</label><br>
            <input type="password" id="pinText" name="pinInput" onkeypress="return inputChange()"><br> <br>
            <input id="enter" type="button" value="Enter!" onclick="return toLobby()">
        </form> <br>
        <div class="createRoomClass">
            <button id="createRoom" onclick="randomPin()">Create Room</button>
        </div> -->
        <div class="joinButton">
            <button id="join" onclick="return joinLobby()" class="joinButton1">Join</button>
        </div>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="/__/firebase/8.3.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="/__/firebase/8.3.0/firebase-analytics.js"></script>

        <!-- Initialize Firebase -->
        <script src="/__/firebase/init.js"></script>
        <script src="/static/Javascript/main.js?v=1.0.0"></script>
    </div>
</body>
</html>