<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/lobby.css">
    <title>MAID - Lobby</title>
</head>
<body>
    <h1>Game Lobby: เลขPINรอเขียนBACKEND</h1>
    <div class="container">
        <div class="segment">Player 1</div>
        <div class="segment">Player 2</div>
        <div class="segment">Player 3</div>
        <div class="segment">Player 4</div>
    </div>
</body>
</html>