<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/redPlayer.css">
    <title>MAID - Red</title>
</head>
<body">
    <h1>You Are Red!</h1>
    <p id="forHidden" class="forHidden">1</p>
    <p id="firebaseHidden" class="forHidden">P0</p>
    <div id="infomation" class="infoFont">
        <form action="{{url_for("redPlayer")}}" method="GET">
            <p class="infoFont" id="moneyVal">Money: ${{moneyVal}}</p>
        </form>
    </div>
    <form action="{{url_for("redPlayer")}}" method="GET">
        <div class="message-wrap" id="messageWWW">
            <p class="diceFont" id="diceValue">You Roll {{DiceRollVar}}!</p>
        </div>
    </form>
    <div class="winloseDiv">
        <p id="winlose" class="winloseFont"></p>
    </div> <br>
    <div id="commandzone">

    </div> <br>
    <div id="zzz">

    </div>

	<div class="responsive">

		<div class="mainSquare">

			<div class="row top">
				<div class="square2"><span class="corner corner1">Monopoly</span></div>
				<div class="square1">					
					<div class="firstLine firstLine-top no-color rotation2" id="17" value="17">michigan <br /> $5000 <span id="mySpan" class="mySpan" style="display: none;"></span> <span id="bluemySpan17" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan17" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-top no-color rotation2" id="18" value="18">indiana <br /> avenue <br /> $2000 <p style="display: none;" id="blockValue">18</p> <span id="mySpan18" class="mySpan" style="display: none;"></span> <span id="greenmySpan18" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan18" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan18" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-top no-color rotation2" id="19" value="19">illinios <br /> avenue <br /> $1000 <p style="display: none;" id="blockValue">19</p> <span id="mySpan19" class="mySpan" style="display: none;"></span> <span id="greenmySpan19" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan19" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan19" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-top no-color rotation2" id="20" value="20">b. & o. <br /> railroad <br /> $3000 <p style="display: none;" id="blockValue">20</p> <span id="mySpan20" class="mySpan" style="display: none;"></span> <span id="greenmySpan20" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan20" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan20" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-top no-color rotation2" id="21" value="21">atlantic <br /> avenue <br /> $4000 <p style="display: none;" id="blockValue">21</p> <span id="mySpan21" class="mySpan" style="display: none;"></span> <span id="greenmySpan21" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan21" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan21" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-top no-color rotation2" id="22" value="22">ventnor <br /> avenue <br /> $5000 <p style="display: none;" id="blockValue">22</p> <span id="mySpan22" class="mySpan" style="display: none;"></span> <span id="greenmySpan22" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan22" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan22" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">					
					<div class="firstLine firstLine-top no-color rotation2" id="23" value="23">water <br /> works <br /> $2000 <p style="display: none;" id="blockValue">23</p> <span id="mySpan23" class="mySpan" style="display: none;"></span> <span id="greenmySpan23" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan23" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan23" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-top no-color rotation2" id="24" value="24">marvin <br /> gardens <br /> $1000 <p style="display: none;" id="blockValue">24</p> <span id="mySpan24" class="mySpan" style="display: none;"></span> <span id="greenmySpan24" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan24" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan24" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square2"><span class="corner corner2">MONOPOLY</span></div>
			</div>
			
			<div class="row center">
				<div class="square2">
					<div class="squareSide">
						<div class="firstLine firstLine-left no-color rotation1" id="16" value="16">new york <br /> avenue <br /> $4000 <p style="display: none;" id="blockValue">16</p> <span id="mySpan16" class="mySpan" style="display: none;"></span> <span id="greenmySpan16" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan16" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan16" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-left no-color rotation1" id="15" value="15">tennessee <br /> avenue <br /> $3000 <p style="display: none;" id="blockValue">15</p> <span id="mySpan15" class="mySpan" style="display: none;"></span> <span id="greenmySpan15" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan15" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan15" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-left no-color rotation1" id="14" value="14">community<br /> center <br /> $1000 <p style="display: none;" id="blockValue">14</p> <span id="mySpan14" class="mySpan" style="display: none;"></span> <span id="greenmySpan14" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan14" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan14" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-left no-color rotation1" id="13" value="13">st.james <br />place <br /> $2000 <p style="display: none;" id="blockValue">13</p> <span id="mySpan13" class="mySpan" style="display: none;"></span> <span id="greenmySpan13" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan13" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan13" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-left no-color rotation1" id="12" value="12">pennsylvania<br> railroad <br /> $5000 <p style="display: none;" id="blockValue">12</p> <span id="mySpan12" class="mySpan" style="display: none;"></span> <span id="greenmySpan12" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan12" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan12" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-left no-color rotation1" id="11" value="11">virginia<br /> avenue <br /> $4000 <p style="display: none;" id="blockValue">11</p> <span id="mySpan11" class="mySpan" style="display: none;"></span> <span id="greenmySpan11" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan11" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan11" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-left no-color rotation1" id="10" value="10">states<br /> avenue <br /> $3000 <p style="display: none;" id="blockValue">10</p> <span id="mySpan10" class="mySpan" style="display: none;"></span> <span id="greenmySpan10" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan10" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan10" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-left no-color rotation1" id="9" value="9">electric<br />company <br /> $1000 <p style="display: none;" id="blockValue">9</p> <span id="mySpan9" class="mySpan" style="display: none;"></span> <span id="greenmySpan9" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan9" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan9" class="babybluemySpan" style="display: none;"></span></div>
					</div>
				</div>
				<div class="square9">
					<div class="logoBox">
						<span class="logoName">MAID</span>
					</div>
				</div>
				<div class="square2">
					<div class="squareSide">
						<div class="firstLine firstLine-right no-color rotation3" id="25" value="25">pacific<br /> avenue <br /> $3000 <p style="display: none;" id="blockValue">25</p> <span id="mySpan25" class="mySpan" style="display: none;"></span> <span id="greenmySpan25" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan25" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan25" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-right no-color rotation3" id="26" value="26">north<br />carolina<br />avenue <br /> $4000 <p style="display: none;" id="blockValue">26</p> <span id="mySpan26" class="mySpan" style="display: none;"></span> <span id="greenmySpan26" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan26" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan26" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-right no-color rotation3" id="27" value="27">community<br />center <br /> $5000 <p style="display: none;" id="blockValue">27</p> <span id="mySpan27" class="mySpan" style="display: none;"></span> <span id="greenmySpan27" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan27" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan27" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-right no-color rotation3" id="28" value="28">pennsylvania<br /> avenue <br /> $2000 <p style="display: none;" id="blockValue">28</p> <span id="mySpan28" class="mySpan" style="display: none;"></span> <span id="greenmySpan28" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan28" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan28" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-right no-color rotation3" id="29" value="29">short<br /> line <br /> $1000 <p style="display: none;" id="blockValue">29</p> <span id="mySpan29" class="mySpan" style="display: none;"></span> <span id="greenmySpan29" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan29" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan29" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">
						<div class="firstLine firstLine-right no-color rotation3" id="30" value="30">massachusetts <br /> $3000 <p style="display: none;" id="blockValue">30</p> <span id="mySpan" class="mySpan30" style="display: none;"></span> <span id="greenmySpan30" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan30" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan30" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-right no-color rotation3" id="31" value="31">park<br /> place <br /> $4000 <p style="display: none;" id="blockValue">31</p> <span id="mySpan31" class="mySpan" style="display: none;"></span> <span id="greenmySpan31" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan31" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan31" class="babybluemySpan" style="display: none;"></span></div>
					</div>
					<div class="squareSide">						
						<div class="firstLine firstLine-right no-color rotation3" id="32" value="32">luxury<br /> tax <br /> $5000 <p style="display: none;" id="blockValue">32</p> <span id="mySpan32" class="mySpan" style="display: none;"></span> <span id="greenmySpan32" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan32" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan32" class="babybluemySpan" style="display: none;"></span></div>
					</div>
				</div>
			</div>

			<div class="row top">
				<div class="square2">
					<span class="corner4-left">For Bankrupt</span>
					<div class="squareCorner">
						<span class="corner corner4">in <br />jail</span>
					</div>
					<span class="corner4-bottom"> people</span>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="8" value="8">connecticut avenue <br /> $2000 <p style="display: none;" id="blockValue">8</p> <span id="mySpan8" class="mySpan" style="display: none;"></span> <span id="greenmySpan8" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan8" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan8" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="7" value="7">vermont<br /> avenue <br /> $5000 <p style="display: none;" id="blockValue">7</p> <span id="mySpan7" class="mySpan" style="display: none;"></span> <span id="greenmySpan7" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan7" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan7" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="6" value="6">texas <br /> $4000 <span id="mySpan6" class="mySpan" style="display: none;"></span> <span id="greenmySpan6" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan6" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan6" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="5" value="5">oriental<br /> avenue <br /> $3000 <p style="display: none;" id="blockValue">5</p> <span id="mySpan5" class="mySpan" style="display: none;"></span> <span id="greenmySpan5" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan5" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan5" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">					
					<div class="firstLine firstLine-bottom no-color" id="4" value="4">reading<br /> railroad <br /> $1000 <p style="display: none;" id="blockValue">4</p> <span id="mySpan4" class="mySpan" style="display: none;"></span> <span id="greenmySpan4" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan4" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan4" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="3" value="3">income<br /> tax <br /> $2000 <p style="display: none;" id="blockValue">3</p> <span id="mySpan3" class="mySpan" style="display: none;"></span> <span id="greenmySpan3" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan3" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan3" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="2" value="2">baltic<br /> avenue <br /> $5000 <p style="display: none;" id="blockValue">2</p> <span id="mySpan2" class="mySpan" style="display: none;"></span> <span id="greenmySpan2" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan2" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan2" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square1">
					<div class="firstLine firstLine-bottom no-color" id="1" value="1">community<br /> center <br /> $4000 <p style="display: none;" id="blockValue">1</p> <span id="mySpan1" class="mySpan" style="display: none;"></span> <span id="greenmySpan1" class="greenmySpan" style="display: none;"></span> <span id="bluemySpan1" class="bluemySpan" style="display: none;"></span> <span id="babybluemySpan1" class="babybluemySpan" style="display: none;"></span></div>
				</div>
				<div class="square2">
					<span class="corner corner3">collect<br />1000 salary<br />as you pass<br />{Starting point} </span>
				</div>
			</div>

		</div>

	</div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-database.js"></script>
    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
          apiKey: "AIzaSyAXvbeBd_pDv4kZvicg57QqhKbvMuijD6w",
          authDomain: "monopoly-6e4c6.firebaseapp.com",
          databaseURL: "https://monopoly-6e4c6-default-rtdb.firebaseio.com/",
          projectId: "monopoly-6e4c6",
          storageBucket: "monopoly-6e4c6.appspot.com",
          messagingSenderId: "252823670936",
          appId: "1:252823670936:web:7358c055c5e265f7a540ed",
          measurementId: "G-HW7K20PBTV"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
    <script src="/static/scripts/buy.js?v=1.0.0"></script>
    <script src="/static/scripts/notbuy.js?v=1.0.0"></script>
    <script src="/static/scripts/diceFrontEnd.js?v=1.0.0"></script>
    <script src="/static/scripts/winlose.js?v=1.0.0"></script>
    <script src="/static/scripts/territory.js?v=1.0.0"></script>
</body>
</html>